*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

:root {
    --background-color: #18181b;
    --black-color: #09090b;
    --grey-color: #27272a;
    --white-color: #fafafa;
    --border-color: #27272a;
    --border: 1px solid var(--border-color);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
    color: var(--white-color);
    width: 100vw;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
    cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

#page-container {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    width: 100vw;
}

#projects-sidebar {
    width: 20vw;
    max-width: 320px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    padding: 36px 12px;
    text-align: left;
    border-right: var(--border);
    background-color: var(--black-color);
    z-index: 1000;
}

#projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
}

h4 {
    font-size: 1.2em;
}

#projects-header .new-btn {
    width: 32px;
    height: 32px;
    align-self: flex-end;
    text-align: center;
    border: var(--border);
}

#projects-container {
    width: 100%;
}

#projects-sidebar button {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    text-align: left;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 6px 8px;
    color: var(--white-color);
    margin: 4px 0px;
}

#projects-sidebar button:hover,
tr:hover {
    background-color: var(--grey-color);
}

.selected {
    background-color: var(--grey-color) !important;
    font-weight: 600;
}

.view-btn .lucide {
    width: 16px;
    height: 16px;
}

.divider {
    border: var(--border);
    width: 100%;
    margin: 8px 0px;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 40px 16px;
    width: 60vw;
    overflow: scroll;
}

#table-container {
    border: 2px solid var(--grey-color);
    border-radius: 6px;
    overflow: scroll;
}

#tasks-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

#table-container,
#tasks-header {
    align-self: center;
    width: 100%;
    max-width: 800px;
}

#tasks-table {
    align-self: center;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.col-done {
    width: 6%;
}

.col-title {
    width: 59%;
}
.col-date {
    width: 15%;
}
.col-prio {
    width: 10%;
}
.col-actions {
    width: 10%;
}

th {
    padding: 4px 8px;
    text-align: center;
}

td {
    padding: 8px 8px;
    border-top: 2px solid var(--border-color);
    overflow: hidden;
    text-align: center;
}

td:nth-child(2) {
    text-align: left;
}

td:nth-child(3),
th:nth-child(3) {
    text-align: left;
}

#side-panel {
    width: 20vw;
    max-width: 320px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    padding: 36px 16px;
    text-align: left;
    height: 100vh;
    background: var(--black-color);
    z-index: 1000;
    overflow-y: scroll;
    border-left: var(--border);
}

.side-modal form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.side-modal label {
    display: flex;
    flex-direction: column;
}
